<div class="texture-uploader editor-modal">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Texture Box</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <li
                ng-repeat="texture in textures"
                ng-click="selectTexture($index,$event)"
                class="btn textures {{texture.usedType ? texture.usedType : ''}}"
                ng-class="{selected : texture.selected}"
            >
                <img ngf-thumbnail="texture" ngf-size="{width: 500, height: 500, quality: 1}">
            </li>
            <li>
                <button
                    class="btn texture-upload-btn"
                    ngf-select
                    type="button"
                    name="files"
                    ng-model="uploadedTextures"
                    ng-click="beforeChangedFile()"
                    ngf-change="changedFile($files,$file,$newFiles,$invalidFiles)"
                    ngf-accept="'image/*'"
                    ngf-max-size="10MB"
                    ngf-multiple="true"
                >
                    <i ng-class="uploadingNow ? 'fa fa-spinner fa-spin' : 'fa fa-plus'"></i>
                </button>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" ng-click="ok()">OK</button>
        <button type="button" class="btn" ng-click="cancel()">CANCEL</button>
    </div>
</div>
