<div>
    <button
        class="btn"
        type="button"
        ng-style="{'background-image':'url(assets/images/editor/viewmode/1.png)'}"
        ng-click="modeChange('realistic')">
    </button>
    <button
        class="btn"
        type="button"
        ng-style="{'background-image':'url(assets/images/editor/viewmode/2.png)'}"
        ng-click="modeChange('clean')">
    </button>
    <button
        class="btn"
        type="button"
        ng-style="{'background-image':'url(assets/images/editor/viewmode/3.png)'}"
        ng-click="modeChange('transparent')">
    </button>
    <button
        class="btn"
        type="button"
        ng-style="{'background-image':'url(assets/images/editor/viewmode/4.png)'}"
        ng-click="modeChange('wireframe')">
    </button>
    <button
        class="btn"
        type="button"
        ng-style="{'background-image':'url(assets/images/editor/viewmode/5.png)'}"
        ng-click="modeChange('wireclean')">
    </button>
</div>
